In [8]:
import os

In [3]:
import numpy as np
np.genfromtxt('../middleware/data/data.csv',delimiter=',', dtype= "U5")

array([['TIME', 'OUT_T', 'OUT_H', ..., 'FAN_S', 'AC_ST', 'HEATE'],
       ['2020-', '22.0', '40.0', ..., '0', '0', '0'],
       ['2020-', '22.0', '41.0', ..., '0', '0', '0'],
       ...,
       ['2020-', '22.0', '40.0', ..., '0', '0', '0'],
       ['2020-', '22.0', '40.0', ..., '0', '0', '0'],
       ['2020-', '22.0', '37.0', ..., '0', '0', '0']], dtype='<U5')

In [5]:
import csv 

def process_metadata(path):
    with open(path, 'r', encoding="utf-8") as csvfile:
        reader = csv.DictReader(csvfile)
        a = list(reader)
        return a

In [50]:
import pandas as pd
def read_data(data_path, cols_to_drop):
    data_frame = pd.read_csv(data_path)
    #data_frame = data_frame.set_index(pd.DatetimeIndex(data_frame['TIME']))
    #data_frame = data_frame.drop(columns=['icon', 'summary'])
    data_frame = data_frame.drop(columns=cols_to_drop)
    return data_frame

In [52]:
DATASET_PATH = "../middleware/data"
# DATASET_PATH = "D:/Thesis draft/code/UCF_ScaledHomeMqtt/middleware/data"
data_file_name = "data.csv"
colums_to_drop = ["OUT_H[%]","T6[*K]","H6[%]","T12[*K]","H12[%]","T18[*K]",
                  "H18[%]","T19[*K]","H19[%]","T24[*K]","H24[%]","T25[*K]","H25[%]",
                  "T26[*K]","H26[%]","FAN_STATE","AC_STATE","HEATER_STATE"]

data_path = os.path.join(DATASET_PATH, data_file_name)
# print(data_path.replace('/','\\'))
data = read_data(data_path,colums_to_drop)
data.head()

                         TIME  OUT_T[*K]  LAMP_STATE
0  2020-01-25 21:01:43.067660       22.0           0
1  2020-01-25 21:02:34.293980       22.0           0
2  2020-01-25 21:03:35.129048       22.0           0
3  2020-01-25 21:04:19.789565       22.0           0
4  2020-01-25 21:05:06.430732       22.0           0

In [64]:
import datetime

# date_time_str = '2018-06-29 08:15:27.243860'
date_time_str = str(data["TIME"][0])
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2020-01-25
Time: 21:01:43.067660
Date-time: 2020-01-25 21:01:43.067660

In [84]:
data1 = data.copy()
for i, j in data1.iterrows(): 
    j[0] = datetime.datetime.strptime(j[0], '%Y-%m-%d %H:%M:%S.%f').time()
    print(j[0])

21:01:43.067660
21:02:34.293980
21:03:35.129048
21:04:19.789565
21:05:06.430732
21:05:53.595234
21:06:29.640729
21:07:10.831943
21:07:56.065500
21:08:48.897630
21:09:34.623320
21:10:12.275525
21:11:20.836482
21:12:04.053015
21:12:51.810769
21:13:36.449109
21:14:18.043420
21:15:12.323615
21:16:00.978379
21:16:46.593473
21:17:36.287061
21:18:30.566992
21:19:24.779887
21:20:14.440903
21:21:05.168783
21:22:06.016159
21:22:52.182581
21:23:41.834522
21:24:28.478170
21:25:22.754318
21:26:13.403682
21:27:06.632570
21:27:55.746275
21:28:43.421084
21:29:27.006560
21:30:16.126498
21:30:58.202942
21:31:41.272778
21:32:23.371726
21:33:15.032581
21:33:59.102166
21:34:49.794653
21:35:36.914804
21:36:22.510106
21:37:44.635325
21:38:41.387988
21:39:34.599281
21:40:24.247815
21:41:10.898689
21:41:56.528799
21:43:02.407603
21:43:51.031142
21:44:36.650428
21:45:28.372144
21:46:21.101678
21:47:16.834763
21:48:08.059262
21:49:02.833128
21:49:50.999786
21:50:35.621089
21:51:10.112988
21:51:51.664309
21:52:32.223500
21:53:19.345425
21:54:08.994319
21:54:57.640302
21:55:41.255759
21:56:25.893024
21:57:18.158314
21:57:56.208922
21:58:47.916350
21:59:54.351897
22:00:34.899725
22:01:30.651135
22:02:12.732259
22:03:03.448707
22:03:44.491479
22:04:29.049549
22:05:10.577424
22:06:02.735649
22:06:47.342201
22:07:34.482462
22:08:09.977744
22:08:50.514834
22:09:41.195179
22:10:24.268924
22:11:18.493084
22:12:19.346708
22:13:07.503559
22:13:54.147198
22:14:50.868054
22:15:37.454695
22:16:30.157686
22:17:16.790721
22:18:08.539098
22:18:56.670172
22:19:55.942630
22:20:37.998891
22:21:16.981547
22:22:05.116477
22:22:53.753409
22:23:40.858474
22:24:43.194270
22:25:36.909293
22:26:14.913697
22:27:10.203467
22:28:00.859220
22:28:49.506719
22:29:36.622791
22:30:54.175980
22:31:32.734212
22:32:20.889484
22:33:04.474866
22:33:52.091556
22:34:36.144201
22:35:18.213265
22:36:03.782498
22:36:43.386506
22:37:58.386281
22:38:53.089009
22:39:45.288213
22:40:27.891507
22:41:22.128766
22:42:44.146734
22:43:33.767992
22:44:21.855669
22:45:05.417752
22:45:56.050352
22:46:33.038440
22:47:23.658299
22:48:10.270775
22:49:08.542511
22:49:57.174717
22:50:35.705512
22:51:40.075896
22:52:26.737855
22:53:19.955101
22:54:34.460511
22:55:22.610604
22:56:09.324613
22:57:09.126880
22:58:00.847768
22:58:43.937640
22:59:30.073241
23:00:09.594456
23:00:51.675530
23:01:33.751356
23:02:20.876002
23:03:08.509578
23:03:55.135688
23:04:45.782084
23:05:33.899521
23:06:21.044135
23:06:57.034879
23:07:47.744862
23:08:52.115097
23:09:38.741151
23:10:29.890155
23:11:09.963549
23:11:54.525541
23:12:47.717970
23:13:38.357215
23:14:25.473799
23:15:11.063969
23:15:47.060586
23:16:29.642019
23:17:17.731437
23:17:53.707418
23:18:41.805127
23:19:32.980591
23:20:13.512169
23:20:52.512132
23:21:35.110887
23:22:17.170471
23:23:05.322097
23:24:10.178795
23:25:08.447685
23:25:54.560142
23:26:29.027429
23:27:09.082432
23:27:54.692866
23:28:53.998805
23:29:41.107399
23:30:41.925837
23:31:31.057878
23:32:38.438541
23:33:47.900045
23:34:51.242732
23:35:36.806940
23:36:21.382363
23:37:10.518935
23:37:54.095851
23:38:48.284558
23:39:41.512828
23:40:22.050057
23:41:06.625247
23:41:49.713243
23:42:31.798295
23:43:24.002402
23:44:10.591749
23:45:05.265334
23:45:53.895118
23:46:50.636650
23:47:31.175664
23:48:20.293894
23:49:02.349537
23:49:46.948633
23:50:32.534747
23:51:24.210965
23:52:09.814222
23:52:51.867514
23:53:30.415736
23:54:22.120761
23:55:16.386243
23:56:06.069504
23:56:49.690064
23:57:40.365358
23:58:18.412560
23:59:20.247852
00:00:10.979562
00:00:55.069217
00:01:43.321558
00:02:27.431714
00:03:16.622532
00:03:52.106601
00:04:34.229925
00:05:15.851048
00:06:06.570208
00:06:59.780137
00:07:51.989537

In [85]:
data1

                           TIME  OUT_T[*K]  LAMP_STATE
0    2020-01-25 21:01:43.067660       22.0           0
1    2020-01-25 21:02:34.293980       22.0           0
2    2020-01-25 21:03:35.129048       22.0           0
3    2020-01-25 21:04:19.789565       22.0           0
4    2020-01-25 21:05:06.430732       22.0           0
..                          ...        ...         ...
225  2020-01-26 00:04:34.229925       22.0           0
226  2020-01-26 00:05:15.851048       22.0           0
227  2020-01-26 00:06:06.570208       22.0           0
228  2020-01-26 00:06:59.780137       22.0           0
229  2020-01-26 00:07:51.989537       22.0           0

[230 rows x 3 columns]